/* GENERAL PAGE STYLES */
body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
.clear {
	clear: both;
}

/* HEADER */
header .top-nav {
	background-color: #564F4A;
	height: 42px;
	overflow: hidden;
}
header .top-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: 980px;
	margin: auto;
	text-align: right;
}
header .top-nav ul li {
	float: right;
	margin-top: 12px;
}
header .top-nav ul li a {
	color: #FFF;
	text-decoration: none;
	font-family: Arial, sans-serif;
	background-color: #625955;
	margin-left: 1px;
	padding: 13px 15px;
}
header .top-nav ul li a:hover {
	background-color: #83807E;
}
header .header-content {
	max-width: 980px;
	margin: auto;
	height: 55px;
	padding: 20px 0px;
}
header .header-content .logo {
	width: 277px;
	height: 47px;
	float: left;
	background-image: url('img/logo_green.png');
	background-repeat: no-repeat;
}
header .header-content .header-additional {
	width: 269px;
	height: 49px;
	float: right;
	background-image: url('img/heart.png');
	background-position: 0 0;
	cursor: pointer;
}
header .header-content .header-additional:hover {
	background-position: 0 -49px;
}
header nav {
	border-top: 1px solid #E7E4E1;
	border-bottom: 3px solid #66B037;
	padding: 5px 0;
}
header nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 980px;
	margin: auto;
	height: 35px;
}
header nav ul li {
	float: left;
	margin-top: 10px;
}
header nav ul li a {
	color: #564E49;
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;
	margin-right: 5px;
}
header nav ul li a:hover, header nav ul li a.current {
	background-color: #66B037;
	color: #FFF;
}

/* CONTENT */
.content-wrapper {
	max-width: 980px;
	margin: auto;
	/* min-height: 200px; */
}

.home h2, .home h3 {
	font-weight: 700;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	margin: 0;
}
.home h2 .small {
	font-size: 0.5em;
}
.home h3 .small {
	font-size: 0.8em;
}
.home .green {
	color: #66B037;
}
.home .intro-text {
	width: 400px;
	float: left;
	margin-top: 40px;
}
.home .intro-text h2 {
	font-size: 58px;
	line-height: 50px;
	margin-bottom: 30px;
}
.home .intro-text h3 {
	font-size: 25px;
	margin-bottom: 25px;
}
.home .intro-image {
	width: 286px;
	height: 441px;
	float: left;
	background-image: url('img/home_shavers.png');
	margin: 10px 0;
}
.home ul.intro-options {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 15px;
	margin-bottom: 20px;
}
.home ul.intro-options li {
	width: 277px;
	height: 141px;
	margin-bottom: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.home ul.intro-options li .logo {
	position: absolute;
	width: 277px;
	height: 141px;
	top: 0;
	left: 50%;
	margin-left: -138.5px;
	background-image: url('img/home_options_sprite.jpg');
	background-repeat: no-repeat;
}
.home ul.intro-options li.mens .logo {
	background-position: 0 0;
}
.home ul.intro-options li.mens:hover .logo {
	background-position: -280px 0;
}
.home ul.intro-options li.womens .logo {
	background-position: 0 -147px;
}
.home ul.intro-options li.womens:hover .logo {
	background-position: -280px -147px;
}
.home ul.intro-options li.blades .logo {
	background-position: 0 -294px;
}
.home ul.intro-options li.blades:hover .logo {
	background-position: -280px -294px;
}
.home h3.intro-action {
	font-size: 26px;
	clear: both;
	text-align: center;
	position: relative;
}
.home h3.intro-action:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 0;
	width: 122px;
	height: 15px;
	background-image: url('img/lines.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
.home h3.intro-action:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 0;
	width: 122px;
	height: 15px;
	background-image: url('img/lines.png');
	background-repeat: no-repeat;
	background-position: -122px 0;
}
.home .get_started {
	width: 258px;
	height: 49px;
	margin: 20px auto;
	background-image: url('img/home_started.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
.home .works {
	padding: 10px;
	background-color: #D4D4D4;
	margin-bottom: 20px;
}
.home .works .title {
	min-height: 20px;
	float: left;
	width: 17%;
	padding-right: 1%;
	border-right: 1px solid #E4E4E4;
}
.home .works .title .h,
.home .works .title .s,
.home .works .title .w {
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: 700;
	color: #544F4A;
	text-shadow: -1px -1px 1px #FFF;
	line-height: 32px;
}
.home .works .title .h {
	font-size: 55px;
	margin-top: 5px;
}
.home .works .title .s {
	color: #000;
	font-size: 25px;
}
.home .works .title .w {
	font-size: 38px;
}
.home .works .steps {
	float: left;
	width: 80%;
	padding-left: 1%;
	border-left: 1px solid #A9A5A4;
}
.home .works .steps .step {
	float: left;
	width: 27%;
	margin-right: 1%;
	margin-bottom: 10px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-left: 5.3%;
	position: relative;
}
.home .works .steps .step .step_icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 50px;
	background-image: url('img/home_step_sprite.png');
}
.home .works .steps .step:nth-child(1) .step_icon {
	background-position: 0 0;
}
.home .works .steps .step:nth-child(2) .step_icon {
	background-position: 0 -50px;
}
.home .works .steps .step:nth-child(3) .step_icon {
	background-position: -40px 0;
}
.home .works .steps .step:nth-child(4) .step_icon {
	background-position: -40px -50px;
}
.home .works .steps .step:nth-child(5) .step_icon {
	background-position: -83px 0;
}
.home .works .steps .step:nth-child(6) .step_icon {
	background-position: -82px -50px;
}
.home .works .steps .step .step_title {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
}
.home .works .steps .step .step_content {
	color: #4b4642;
}

ul.purchase-steps {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 30px;
	margin-left: 45px;
}
ul.purchase-steps li {
	float: left;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	margin-right: 55px;
	position: relative;
	color: #BDB3AD;
	margin-bottom: 20px;
}
ul.purchase-steps li .num {
	position: absolute;
	left: -35px;
	top: -7px;
	background-color: #BDB3AD;
	font-style: italic;
	color: #FFF;
	padding: 5px 10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
ul.purchase-steps li.active {
	color: #000;
	font-weight: bold;
}
ul.purchase-steps li.active .num {
	background-color: #0091B1;
	font-size: 24px;
	padding: 7px 15px 5px 14px;
	top: -12px;
	left: -45px;
}
ul.products {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 40px;
}
ul.products li {
	float: left;
	width: 319px;
	background-image: url('img/product_bg_mens.jpg');
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-bottom: 50px;
	position: relative;
}
ul.products li:last-child {
	margin-right: 0;
}
ul.products li .product-title {
	width: 289px;
	height: 50px;
	padding: 15px;
	color: #5f5a56;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}
ul.products li .product-title .the {
	font-style: italic;
	float: right;
	margin-top: 5px;
	margin-right: 2px;
}
ul.products li .product-title .product-name {
	color: #0091B1;
	font-size: 35px;
	float: right;
}
ul.products li .product-title .product-type {
	text-align: right;
}
ul.products li .product-image {
	position: relative;
	width: 100%;
	height: 243px;
	background-repeat: no-repeat;
	background-position: center bottom;
}
ul.products li.baby-face .product-image {
	background-image: url('img/mens_razor_1.png');
}
ul.products li.average-joe .product-image {
	background-image: url('img/mens_razor_2.png');
}
ul.products li.caveman .product-image {
	background-image: url('img/mens_razor_3.png');
}
ul.products li .product-image .price {
	width: 73px;
	height: 58px;
	position: absolute;
	top: 160px;
	right: 12px;
	text-align: center;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	padding-top: 15px;
}
ul.products li .product-image .price .product-price {
	color: #0091B1;
	font-size: 21px;
}
ul.products li .product-image .product-info {
	position: absolute;
	width: 200px;
	left: 50%;
	top: 30px;
	margin-left: -120px;
	padding: 20px;
	background-color: #0091B1;
	opacity: 0.9;
	color: #FFF;
	font-family: Arial, sans-serif;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	font-size: 14px;
	display: none;
}
ul.products li .product-image .product-info .close {
	position: absolute;
	bottom: 5px;
	right: 5px;
	cursor: pointer;
}
ul.products li .product-details {
	position: relative;
	width: 259px;
	height: 50px;
	padding: 8px 30px;
	text-align: center;
	color: #FFF;
	font-family: Arial, sans-serif;
	line-height: 16px;
	font-size: 13px;
}
ul.products li .product-details .bigger {
	font-size: 23px;
}
ul.products li .product-details .more-details {
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}
ul.products li .select_btn {
	width: 105px;
	height: 35px;
	margin: 20px auto;
	background-image: url('img/select_btn.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
ul.products li .step-one {
	display: none;
	margin-top: 15px;
}
ul.products li .step-one .step-one-option {
	width: 159px;
	min-height: 230px;
	float: left;
	background-repeat: no-repeat;
	position: relative;
}
ul.products li .step-one .step-one-option.a {
	background-image: url('img/mens_a.jpg');
}
ul.products li .step-one .step-one-option.b {
	background-image: url('img/mens_b.jpg');
}
ul.products li .step-one .step-one-option .price {
	position: absolute;
	width: 73px;
	height: 58px;
	text-align: center;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	padding-top: 15px;
	top: 137px;
	right: 3px;
}
ul.products li .step-one .step-one-option .price .product-price {
	color: #0091B1;
	font-size: 21px;
}
ul.products li .step-one .step-one-option .select {
	width: 105px;
	height: 35px;
	margin: 20px auto;
	margin-top: 240px;
	background-image: url('img/select_btn.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
ul.products li .step-two {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	padding-top: 20px;
}
ul.products li .step-two .chosen-option {
	width: 100%;
	min-height: 220px;
	background-repeat: no-repeat;
	background-position: center -20px;
	position: relative;
	display: none;
}
ul.products li .step-two .chosen-option.a {
	background-image: url('img/mens_a.jpg');
}
ul.products li .step-two .chosen-option.b {
	background-image: url('img/mens_b.jpg');
}
ul.products li .step-two .chosen-option .price {
	position: absolute;
	width: 73px;
	height: 58px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	padding-top: 15px;
	top: 117px;
	left: 163px;
}
ul.products li .step-two .chosen-option .price .product-price {
	color: #0091B1;
	font-size: 21px;
}
ul.products li .step-two .supply {
	text-align: center;
	color: #857F7B;
	font-size: 20px;
	font-weight: 700;
}
ul.products li .step-two .details {
	text-align: center;
	color: #857F7B;
	font-style: italic;
	margin-bottom: 10px;
}
ul.products li .step-two .total-price {
	color: #0091B1;
	float: right;
	font-size: 22px;
	font-weight: bold;
	margin-top: 2px;
	margin-right: 15px;
}
ul.products li .step-two .get-it {
	width: 105px;
	height: 35px;
	cursor: pointer;
	background-image: url('img/getit_btn.jpg');
	background-repeat: no-repeat;
	float: right;
}
ul.products li .step-two .more-supply {
	border-top: 2px solid #BDB3AD;
	padding-top: 10px;
	margin-top: 10px;
}
ul.products li .step-two .more-supply .save {
	float: left;
	background-color: #000;
	color: #fff;
	padding: 8px 15px;
	margin-top: -2px;
	margin-left: 10px;
}

.cause {
	margin-top: 30px;
}
.cause .left {
	float: left;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	width: 33%;
	padding-right: 2%;
	font-size: 47px;
	line-height: 58px;
	font-weight: 700;
}
.cause .left h2 {
	margin: 0;
}
.cause .left h2 .green {
	color: #79A939;
}
.cause .right {
	float: left;
	width: 62%;
	padding-left: 2%;
	border-left: 1px solid #BCB3AC;
	font-family: Arial, sans-serif;
}
.cause .right p {
	margin: 0;
	font-size: 27px;
	line-height: 30px;
}
.cause .right .details {
	font-height: 12px;
	font-style: italic;
	margin: 5px 0;
}
.cause .right ol li {
	margin-bottom: 5px;
}
.cause .right ol li a {
	color: #79A939;
	text-decoration: underline;
}
.cause .cause-footer {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #BCB3AC;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}
.cause .cause-footer h3 {
	text-align: center;
	margin: 0;
	position: relative;
}
.cause .cause-footer h3:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 0;
	width: 72px;
	height: 15px;
	background-image: url('img/lines.png');
	background-repeat: no-repeat;
	background-position: -50px 0;
}
.cause .cause-footer h3:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 0;
	width: 72px;
	height: 15px;
	background-image: url('img/lines.png');
	background-repeat: no-repeat;
	background-position: -122px 0;
}
.cause .cause-footer h3 .green {
	color: #79A939;
}
.cause .cause-footer h3 .big {
	font-size: 1.5em;
}
.cause .cause-footer .start {
	text-align: center;
	margin-bottom: 20px;
}
.cause .cause-footer .start a {
	color: #79A939;
}
.gender {
	padding: 50px 0;
}
.gender .gender_section {
	float: left;
	width: 48%;
	margin-right: 1%;
	height: 360px;
	overflow: hidden;
	position: relative;
}
.gender .gender_section .logo {
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 450px;
	height: 360px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -225px;
}
.gender .gender_section .logo:hover {
	cursor: pointer;
	background-position: 1px -366px;
}
.gender .gender_section.male .logo {
	background-image: url('img/gender_male.jpg');
}
.gender .gender_section.female .logo {
	background-image: url('img/gender_female.jpg');
}

/* FOOTER */
footer {
	max-width: 980px;
	margin: auto;
	border-top: 5px solid #66B037;
	padding: 20px 0;
}
footer ul.footer-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
footer ul.footer-nav li {
	float: left;
}
footer ul.footer-nav li a {
	border-right: 1px solid #B1AEAC;
	padding: 0 8px;
	color: #544f4b;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
footer ul.footer-nav li:last-child a {
	border: none;
}
footer ul.footer-nav li:first-child a {
	padding-left: 0;
}
footer ul.footer-nav li a:hover {
	color: #000;
	text-decoration: underline;
}
footer ul.social-icons {
	list-style: none;
	padding 0;
	margin 0;
	float: right;
	margin-top: -15px;
}
footer ul.social-icons li {
	width: 27px;
	height: 27px;
	float: right;
	margin: 10px 5px;
	margin-bottom: 0;
	background-image: url('img/social.png');
	cursor: pointer;
}
footer ul.social-icons li.twitter {
	background-position: 0 0;
}
footer ul.social-icons li.facebook {
	background-position: -35px 0;
}
footer ul.social-icons li.rss {
	background-position: -69px 0;
}
footer .copywrite {
	color: #544f4b;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
footer .copywrite .secure {
	padding-left: 25px;
	padding-top: 2px;
	text-transform: uppercase;
	background-image: url('img/secure.png');
	background-repeat: no-repeat;
	background-position: 10px 0;
}

.signup .catch {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.signup .signup-section {
	width: 33%;
	float: left;
	margin-bottom: 20px;
	border-left: 1px solid #BDB3AD;
	padding: 0 3%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 320px;
	font-family: 'Arial', sans-serif;
	position: relative;
}
.signup .signup-section:nth-child(2) {
	border: none;
	padding-left: 0;
}
.signup .signup-section:nth-child(4) {
	padding-right: 0;
}
.signup .signup-section:nth-child(4):before {
	content: 'or';
	position: absolute;
	background-color: #FFF;
	text-transform: uppercase;
	color: #625955;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 30px;
	padding: 5px;
	left: -30px;
	top: 40%;
}
.signup .signup-section .accent {
	color: #4F8FAD;
}
.signup .signup-section h3 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 45px;
	margin: 0;
}
.signup .signup-section p {
	font-family: 'Airial', sans-serif;
	font-size: 26px;
	margin: 0;
}
.signup .signup-section p .accent {
	font-weight: bold;
}
.signup .signup-section .explore {
	width: 193px;
	height: 35px;
	background-image: url('img/explore_btn.jpg');
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 20px;
	cursor: pointer;
}
.signup .signup-section .sub {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	line-height: 25px;
	margin-top: 5px;
}
.signup .signup-section form {
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
}
.signup .signup-section form label {
	display: block;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
}
.signup .signup-section form input {
	background-color: #F1F1F2;
	margin-bottom: 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	font-size: 14px;
	border: 1px solid #BDB3AD;
	padding: 7px;
	width: 100%;
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.signup .signup-section form .login {
	width: 112px;
	height: 35px;
	background-image: url('img/login_btn.jpg');
	background-repeat: no-repeat;
	cursor: pointer;
}
.signup .signup-section form .forgot {
	position: absolute;
	right: 0;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
	bottom: 0px;
}
.signup .signup-section form .forgot a {
	text-decoration: underline;
	cursor: pointer;
}
.signup .signup-section .terms {
	padding-top: 10px;
	font-size: 13px;
}
.signup .signup-section .terms a {
	cursor: pointer;
	text-decoration: underline;
}
.signup .quote {
	border-top: 1px solid #BDB3AD;
	margin-top: 20px;
	padding: 15px 0;
}
.signup .quote .img {
	width: 92px;
	height: 92px;
	background-image: url('img/quote_male.jpg');
	background-repeat: no-repeat;
	float: left;
	margin-right: 20px;
}
.signup .quote .txt {
	font-family: 'Arvo', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
}
.signup .quote .txt .sub-quote {
	font-size: 16px;
	font-style: italic;
	margin-top: 5px;
}

/* MEN-THEME TWEAKS */
.mens header .header-content .logo {
	background-image: url('img/logo_blue.png');
}
.mens header .header-content .header-additional {
	background-image: url('img/heart_blue.png');
}
.mens header nav {
	border-bottom-color: #0091B1;
}
.mens footer {
	border-color: #0091B1;
}
.mens header nav ul li a:hover, .mens header nav ul li a.current {
	background-color: #0091B1;
}

/* WOMAN-THEME TWEAKS */
.womens header .header-content .logo {
	background-image: url('img/logo_pink.jpg');
}
.womens header .header-content .header-additional {
	background-image: url('img/heart_pink.png');
}
.womens header nav {
	border-bottom-color: #FF009C;
}
.womens footer {
	border-color: #FF009C;
}
.womens header nav ul li a:hover, .womens header nav ul li a.current {
	background-color: #FF009C;
}
.womens ul.purchase-steps li.active .num {
	background-color: #FF009C;
}
.womens ul.products li {
	background-image: url('img/product_bg_womens.jpg');
}
.womens ul.products li .product-title .product-name {
	color: #FF009C;
}
.womens ul.products li.simple .product-image {
	background-image: url('img/womens_razor_1.png');
}
.womens ul.products li.smooth .product-image {
	background-image: url('img/womens_razor_2.png');
}
.womens ul.products li.sexy .product-image {
	background-image: url('img/womens_razor_3.png');
	background-position: 25px center;
}
.womens ul.products li .product-image .product-info {
	background-color: #FF009C;
}
.womens ul.products li .step-one .step-one-option.a {
	background-image: url('img/womens_a.jpg');
}
.womens ul.products li .step-one .step-one-option.b {
	background-image: url('img/womens_b.jpg');
}
.womens ul.products li .step-two .chosen-option.a {
	background-image: url('img/womens_a.jpg');
}
.womens ul.products li .step-two .chosen-option.b {
	background-image: url('img/womens_b.jpg');
}
.womens .signup .accent {
	color: #FF009C;
}
.womens .signup .quote .img {
	background-image: url('img/quote_female.jpg');
}

/* SUB-CONTAINER TWEAKS */
@media all and (max-width: 980px) {
	.home ul.intro-options {
		float: none;
		clear: both;
	}
	.home ul.intro-options li {
		float: left;
		width: 32%;
		margin-right: 1%;
		max-width: 277px;
	}
	.home h3.intro-action:before {
		display: none;
	}
	.home h3.intro-action:after {
		display: none;
	}
	.home .works .title .h { font-size: 42px; }
	.home .works .title .s { font-size: 18px; }
	.home .works .title .w { font-size: 28px; }
}

/* TABLET-WIDTH TWEAKS */
@media all and (max-width: 768px) {
	.gender .gender_section {
		float: none;
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	header nav ul li:first-child {
		display: none;
	}
	header .header-content .header-additional {
		display: none;
	}
	.home .works .title .h { font-size: 27px; }
	.home .works .title .s { font-size: 13px; }
	.home .works .title .w { font-size: 20px; }
	.home .works .steps .step .step_icon {
		display: none;
	}
	header nav ul li a {
		padding: 10px 9px;
	}
	.home .intro-image {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
	ul.products li {
		float: none;
		width: 639px;
		margin: auto;
		background-image: url('img/product_bg_mobile_mens.jpg');
		margin-left: 0;
	}
	.womens ul.products li {
		background-image: url('img/product_bg_mobile_mens.jpg');
	}
	ul.products li .product-title {
		color: #FFF;
		text-align: right;
		position: absolute;
		top: 0;
		right: 10px;
	}
	ul.products li .product-title .product-name {
		color: #FFF;
		font-size: 30px;
	}
	ul.products li .product-title .product-type {
		display: none;
	}
	ul.products li .product-image {
		width: 320px;
		height: 215px;
		overflow: hidden;
		background-position: center 20px;
	}
	ul.products li .product-image .price {
		top: 112px;
		right: 29px;
	}
	ul.products li .product-details {
		position: absolute;
		top: 60px;
		right: 0;
		font-size: 20px;
		line-height: 20px;
	}
	ul.products li .step-two .chosen-option {
	}
	ul.products li .step-two .chosen-option .price {
		left: 323px;
	}
}

/* PHONE-WIDTH TWEAKS */
@media all and (max-width: 480px) {
	.home ul.intro-options {
		display: none;
	}
	.home .works .title {
		display: none;
	}
	.home .works .steps {
		border: none;
		padding-left: 0;
	}
	.home .works .steps .step {

		width: 100%;
	}
	header nav ul li a {
		padding: 10px 7px;
	}
}
